@import url("/css/fonts.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- Variables & Global Styling ------------------------------- */
:root{
    --primary-fonts: "Basis-regular", sans-serif;
    --title-fonts: "Reckless-light", monospace;

    --black: #222222;
    --dark-green: #1B4942;
    --btn-hover-color: #246f61;
    --light-green: #3BECB9;
    --light-grey: #efefef;
    --medium-grey: #e1e1e1;
    --dark-grey: grey;
    --color-light: #F8FAF4;
    --white: #FFFFFF;
}
body{
    font-family: var(--primary-fonts);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    color: var(--white);
    padding: 1.1rem 1.5rem;
    border-radius: 5px;
    background-color: var(--light-green);
    border: none;
    cursor: pointer;
}
.nav-btn{
    background-color: var(--dark-green);
}
.nav-btn:hover{
    background-color: var(--btn-hover-color);
}
.section-btn{
    font-size: 1.2rem;
    color: black;
}
.secondary-title{
    font-size: 3rem;
    color: var(--white);
    font-family: var(--title-fonts);
}
/* ------------------------------- Navbar ------------------------------- */
nav{
    /* background-color: green; */
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 0 50px 0 200px;
}
.nav-left, .nav-right{
    /* border: solid black; */
    /* background-color: red; */
}
.nav-left{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.nav-right{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-logo{
    position: absolute;
    left: 50px;
}
.nav-logo-img{
    width: 140px;
}
.nav-item{
    position: relative;
}
.nav-item:hover .down-arrow{
    color: var(--light-green);
}

.left-border, .bottom-border, .right-border, .top-border{
    position: absolute;
}
.left-border, .right-border{
    width: 2px;
    height: 140%;
    background-color: var(--light-green);
    transition: 0.2s;
}
.left-border{
    top: -25%;
    left: -8px;
    height: 0;
}
.nav-item:hover .left-border{
    height: 140%
}
.right-border{
    right: -8px;
    width: 3px;
    bottom: -25%;
    height: 0;
}
.nav-item:hover .right-border{
    height: 140%;
}
.bottom-border, .top-border{
    height: 2px;
    width: 131%;
    background-color: var(--light-green);
    transition: 0.2s;
}
.bottom-border{
    bottom: -25%;
    right: -16%;
    width: 0;
}
.nav-item:hover .bottom-border{
    width: 131%;
}
.top-border{
    top: -30%;
    width: 0;
    left: -16%;
}
.nav-item:hover .top-border{
    width: 131%;
}

.nav-link{
    color: var(--black);
    padding-bottom: 5px;
    font-weight: 500;
}
.down-arrow{
    color: var(--medium-grey);
}
.creator-login{
    position: relative;
}
.creator-login-link{
    color: var(--black);
}
.black-border{
    background-color: black;
    height: 2px;
    margin-top: 5px;
}
.green-border{
    background-color: var(--light-green);
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: 0.2s;
}
.creator-login:hover .green-border{
    width: 100%;
}

/* ------------------------------- Main ------------------------------- */

section{
    padding: 0 11%;
    display: flex;
}
.section-title{
    color: var(--dark-green);
    font-size: 3.75rem;
    line-height: 4.375rem;
    font-family: var(--title-fonts);
}
.small-text{
    font-size: 0.9rem;
}

/* ------------------------------- Section-1------------------------------- */

#section-1{
    gap: 5rem;
    margin-top: 5rem;
}
#section-1 img{
    width: 550px;
}
.section-text{
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 2rem;
}

#section-1 .small-text{
    margin: 4rem 0 1rem;
}
#section-1 form{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#section-1 input[type="email"]{
    height: 3.4rem;
    width: 300px;
    background-color: var(--light-grey);
    padding-left: 20px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
}
#section-1 input[type="email"]:hover{
    background-color: var(--medium-grey);
}
#section-1 input[type="email"]:focus{
    outline: solid 4px var(--light-green);
    border: none;
}

/* ------------------------------- Section-2------------------------------- */

#section-2{
    background-color: var(--dark-green);
    padding-top: 10rem;
    padding-bottom: 5rem;
    position: relative;
    bottom: 5rem;
    z-index: -1;
    color: var(--white);
    gap: 5rem;
}
#section-2 .section-text{
    margin-bottom: 3rem;
}

.video-thumbnail{
    width: 550px;
}